.container {
    position: relative;
    text-align: center;
}

.top {
    padding-top: 10px;
    height: 40px;
}

.tabsContainer {
    height: calc(100vh - 100px);
}

.tabPanel {
    overflow-y: auto;
    max-height: calc(100vh - 150px);
    margin: -24px -20px;
    padding: 20px 10px;
    text-align: left;
}

.footer {
    background-color: #ffffff;
    z-index: 2;
    height: 80px;
}